body {
	font-family: sans-serif;
	padding: 40px;
}

#stage_text {
	font-size: 32px;
	font-weight: bold;
	margin-bottom:30px ;
	opacity: 0;
	transition: opacity 0.8s;
}

#stage-images img {
	width: 300px;
	display: block;
	margin-bottom: 12px;
}

#final-menu {
	display: none;
	margin-top:40px;
}

.menu-item {
	font-size: 24px;
	font-weight: bold;
	margin-right: 30px;
	text-decoration: none;
	color: black;
}

.menu-item:hover {
	color: blue;
}